# Mot de passe admin pour publier/modifier/supprimer les infos
ADMIN_SECRET=admin123

# Token Vercel Blob (ajouté automatiquement si vous liez Blob au projet Vercel)
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_O16xu64urVmYstFk_6GNCAOff36Ir2HqEi7GuG0LQu3chCJ
